<ion-toolbar color="darkBlue">
  <ion-buttons slot="start">
    <ion-menu-button autoHide="false"></ion-menu-button>
  </ion-buttons>
  <ion-title>Home</ion-title>
</ion-toolbar>

<ion-content>
  <ion-grid>
    <ion-row style="padding-top: 20px">
      <ion-col style="text-align: center">
        <img src="assets/images/html.png" style="width: 120px; height: 120px" />
        <h4 style="font-family: system-ui;">HTML</h4>
      </ion-col>
      <ion-col style="text-align: center">
        <img
          src="assets/images/angular.png"
          style="width: 110px; height: 110px; margin-top: 10px"
        />
        <h4 style="font-family: system-ui;">ANGULAR</h4>
      </ion-col>
    </ion-row>
    <ion-row style="padding-top: 10px">
      <ion-col style="text-align: center">
        <img src="assets/images/JS.png" style="width: 130px; height: 130px" />
        <h4 style="font-family: system-ui;margin-top: 3px;">JAVASCRIPT</h4>
      </ion-col>
      <ion-col style="text-align: center">
        <img
          src="assets/images/jquery.png"
          style="width: 130px; height: 135px;"
        />
        <h4 style="font-family: system-ui;margin-top: 2px;">JQUERY</h4>
      </ion-col>
    </ion-row>
    <ion-row style="padding-top: 10px">
      <ion-col style="text-align: center">
        <img src="assets/images/css.png" style="width: 105px; height: 105px" />
        <h4 style="font-family: system-ui;">CSS</h4>
      </ion-col>
      <ion-col style="text-align: center">
        <img
          src="assets/images/bootstrap.png"
          style="width: 110px; height: 110px;"
        />
        <h4 style="font-family: system-ui;">BOOTSTRAP</h4>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
