<ion-toolbar color="darkBlue" mode="ios">
  <ion-buttons slot="start">
    <ion-menu-button autoHide="false"></ion-menu-button>
  </ion-buttons>
  <ion-title>HTML</ion-title>
</ion-toolbar>

<ion-content>

  <!-- #region Waht is HTML? -->
  <div>
    <h3>1. Waht is HTML?</h3>
    <p>&nbsp;&nbsp;&nbsp; HTML stands for Hyper Text Markup Language which is used for creating web pages and web
      applications
      released in 1993.
      HTML describes the structure of a Web page and HTML tell the browser what to display and how to
      display the content in Web Pages.</p>
    <hr>
  </div>
  <!-- #endregion-->

  <!-- #region HTML5 new features? -->
  <div>
    <h3>2. HTML5 new features?</h3>
    <p>&nbsp;&nbsp;&nbsp; Some new features of HTML5 :</p>
    <ol>
      <li>It supports multimedia like video and audio.</li>
      <li>Added Header, Footer, Nav, and Progress tags.</li>
      <li>Javascript capable to run in the background.</li>
      <li>Added Canvas tag newly it is used to draw the images in different shapes.</li>
      <li>It supports storing offline data using SQL databases and in the application cache.</li>
    </ol>
    <hr>
  </div>
  <!-- #endregion-->

  <!-- #region Difference between <p> and <span> tags? -->
  <div>
    <h3>3. Difference between &lt;p&gt; and &lt;span&gt; tags?</h3>
    <p>&nbsp;&nbsp; <code>&lt;p&gt;</code> is a block-level tag for paragraphs. <code>&lt;span&gt;</code> is a
      line-level tag that
      in and of itself doesn't do anything, but is useful for defining a specific style to a string.
      <code>&lt;span&gt;</code>
      can be used within <code>&lt;p&gt;</code>, but <code>&lt;p&gt;</code> cannot be used within a
      <code>&lt;span&gt;</code>.
    </p>
    <hr>
  </div>
  <!-- #endregion-->

  <!-- #region What is hoisting in javascript? -->
  <div>
    <h3>4. What is hoisting in javascript?</h3>
    <p>&nbsp;&nbsp;<b>Hoisting</b> is a <b>JavaScript</b> default behavior where variables and function declarations
      are moved to the top of their scope before code execution. In simple words a variable or function can be used
      before it has been declared.
    </p>
    <pre style="margin: -20px 0px -20px 0px;">
  <code>
  <span style="color:indianred;">Error</span>
  console.log(number); // undefined
  var number = <span>10</span>;

  <span style="color:green;">Correct</span>
  var number = <span>10</span>;
  console.log(number); // 10
  </code>
  </pre>
    <hr>
  </div>
  <!-- #endregion-->

  <!-- #region Difference between <section> and <div> tags? -->
  <div>
    <h3>5. Difference between &lt;section&gt; and &lt;div&gt; tags?</h3>
    <p>&nbsp;&nbsp;&nbsp;The <code>&lt;section&gt;</code> tag defines sections in a document, such as chapters, headers,
      footers, or
      any other sections of the html document.
    </p>
    <p>&nbsp;&nbsp;&nbsp;The <code>&lt;div&gt;</code> tag defines a division or a section in an HTML document. The tag
      is used to group block elements to format / styling them with CSS.</p>
    <hr>
  </div>
  <!-- #endregion-->

  
</ion-content>