img {
    height: 70px;
    width: 70px;
}

p {
    font-weight: bold;
    font-family: system-ui;
    margin: 5px !important;
    color:#545454;
}

ion-col {
    text-align: center;
}

ion-content {
    // --background: #F8FCFD;
}

ion-card {
    padding-top: 20px;
    margin:0px;
    padding-bottom: 10px;
    background-color: #f8f8f8;
}

