<ion-toolbar color="darkBlue">
  <ion-buttons slot="start">
    <ion-menu-button autoHide="false"></ion-menu-button>
  </ion-buttons>
  <ion-title>Home</ion-title>
</ion-toolbar>

<ion-content>
  <ion-grid>
    <ion-row style="padding-top: 10px">
      <ion-col style="text-align: center" class="ion-activatable ripple-parent">
        <img src="assets/images/html.png" />
        <h4 style="font-family: system-ui;">HTML</h4>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-col>
      <ion-col style="text-align: center" class="ion-activatable ripple-parent">
        <img src="assets/images/angular.png" />
        <h4 style="font-family: system-ui;">ANGULAR</h4>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-col>
    </ion-row>
    <ion-row style="padding-top: 10px">
      <ion-col style="text-align: center" class="ion-activatable ripple-parent">
        <img src="assets/images/javascript-512.png" />
        <h4 style="font-family: system-ui;">JAVASCRIPT</h4>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-col>
      <ion-col style="text-align: center" class="ion-activatable ripple-parent">
        <img src="assets/images/jquery.png" />
        <h4 style="font-family: system-ui;">JQUERY</h4>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-col>
    </ion-row>
    <ion-row style="padding-top: 10px">
      <ion-col style="text-align: center" class="ion-activatable ripple-parent">
        <img src="assets/images/css.png" />
        <h4 style="font-family: system-ui;">CSS</h4>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-col>
      <ion-col style="text-align: center" class="ion-activatable ripple-parent">
        <img src="assets/images/bootstrap.png" />
        <h4 style="font-family: system-ui;">BOOTSTRAP</h4>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>