<ion-toolbar color="darkBlue" mode="ios">
  <ion-buttons slot="start">
    <ion-menu-button autoHide="false"></ion-menu-button>
  </ion-buttons>
  <ion-title>Home</ion-title>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card mode="md">
          <img src="assets/images/html.png" />
          <p>HTML</p>
          <ion-button (click)="navigateToDetails('html')" routerDirection="forward" style="margin:10px;" color="coral"
            expand="block">20 Q & A</ion-button>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card mode="md">
          <img src="assets/images/angular.png" />
          <p>ANGULAR</p>
          <ion-button (click)="navigateToDetails('angular')" style="margin:10px" color="firebrick" expand="block">20 Q & A</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card mode="md">
          <img src="assets/images/js.png" />
          <p>JAVASCRIPT</p>
          <ion-button style="margin:10px" expand="block" color="jsGreen">20 Q & A</ion-button>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card mode="md">
          <img src="assets/images/jquery.png" />
          <p>JQUERY</p>
          <ion-button style="margin:10px" expand="block" color="jqueryBlue">20 Q & A</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card mode="md">
          <img src="assets/images/css.png" />
          <p>CSS</p>
          <ion-button style="margin:10px" expand="block" color="cssBlue">20 Q & A</ion-button>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card mode="md">
          <img src="assets/images/bootstrap.png" />
          <p>BOOTSTRAP</p>
          <ion-button style="margin:10px" expand="block" color="dark">20 Q & A</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>